
/* Zelent*/
input[type=text],
input[type=password],
textarea
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}
textarea:focus
{
	color: #ffffff;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}


/* Z internetu*/


		* { 
			margin: 0; 
			padding: 0;
		}
		body { 
			font: 100% normal Arial, Helvetica, sans-serif; 
			background: #161712;
			
			
		}
		form, input, select, textarea {
			margin:10px 10px; 
			padding:0; 
			color:#ffffff;
			
		}
 
		
 
		div.box h1 { 
			color:#ffffff;
			font-size:18px;
			text-transform:uppercase;
			padding:0px 0px 0px 0px;
			border-bottom:1px solid #161712;
			border-top:1px solid #161712; 
		}
 
		div.box label {
			width:100%;
			display: block;
			background:#1C1C1C;
			border-top:1px solid #262626;
			border-bottom:1px solid #161712;
			padding:0px 0 0px 0;
		}
 
		div.box label span {
			display: block;
			color:#bbbbbb;
			font-size:12px;
			float:left;
			width:25%;
			text-align:right;
			padding:5px 20px 0 0;
		}
 
		div.box .wpis {
			padding:10px 10px;
			width:50%;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
			
		}
 
		div.box .wiadomosc {
			padding:7px 7px;
			width:70%;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
			overflow:hidden;
			height:150px;
			
		}
 
		div.box .button	{
			margin:0 0 10px 0;
			padding:4px 7px;
			background:#137302;
			border:0px;
			
			width:100%;
			border-bottom: 3px double #B3B3B3;
			border-top: 3px double #B3B3B3;
			border-left:3px double #B3B3B3;
			border-right:3px double #B3B3B3;
		}
		
		
		input[type=submit]:hover
			{
				box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
				border: 2px solid #a5cda5;
			}
	
		main
		{
			width: 100%;
			display: inline-block;

		}
		
		.box
		{
			float: left;
			background-color: #000000;
		}
		.box1
		{
			background-color: #2F3336;
			width: 100%;
		}
		.box2
		{
			background-color: #2F3336;
			min-height: 500px;
			width: 100%;
		}
		.box1 h3
		{
			color:#ffffff;
			font-size:16px;
			text-transform:uppercase;
			padding:0px 0px 0px 0px;
			margin-left:20px;
			
		}
		.box1 h4
		{
			color:#ffffff;
			font-size:14px;
			text-transform:uppercase;
			padding:0px 0px 0px 0px;
			margin-left:50px;
			text-transform:none;
			border-bottom:1px solid #161712;
		}
		.box1 h4:hover
		{
			
			text-decoration: none;
		}	
		.box1 h5
		{
			color:#ffffff;
			font-size:16px;
			text-transform:uppercase;
			padding:0px 0px 0x 0px;
			margin-left:20px;
			margin-right:20px;
			text-transform:none;
			border-bottom:1px solid #161712;
			text-align:justify;
		}
		.klawisz
		{
			background-color:#545451;
			width: 10%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top:10px;
			border: 1px solid #161712;
		}
		.klawisz:hover
		{
			box-shadow:0 0 6px black;
			color: #BBBFBF;
		}
		.klawisz a
		{
			color:#ffffff;
		}
		.klawisz a:hover
		{
			color: #BBBFBF;
			text-decoration: none;
		}
		